@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&family=Space+Grotesk&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(49, 122, 217);
  border-radius: 2px;
  padding: 2px;
}
